@mixin borderred($color,$width:2px) {
    color: $color;
    border : $width solid black;
}

.myDiv{
    @include borderred($color:red,$width:10px);
}

@mixin lineragradient ($direction, $gradient...){
    background-color: nth($gradients, 3);
    background-image: linear-gradient($direction, $gradient);
    
}

.myDiv{
    @include lineragradient(to right, magenta, red, orange, yellow);
}