<?xml version="1.0" encoding="UTF-8"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.1.xsd" 
xmlns:context="http://www.springframework.org/schema/context" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://www.springframework.org/schema/beans">

<bean id="person" class="com.psl.pojo.Person" >
	  <constructor-arg index="0" value="Nisha" type="java.lang.String" />
	 <constructor-arg index="1" ref="address" type="com.psl.pojo.Address"/>
	 <constructor-arg index="2" value="12" type="int"/> 
	 
	  <property name="name" value="Sima"/>
	 <property name="address" ref="address"/>
	 <property name="age" value="20"/>
</bean>
<bean id="address" class="com.psl.pojo.Address"></bean>
</beans>